@import 'tailwindcss';
@import url('https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&family=Geist:wght@100..900&display=swap');

@import './layout/_containers.css';

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
}

:root {
	font-family: 'Geist', sans-serif;
	font-weight: 200;
	letter-spacing: 0.34%;

	--color-bg-0: rgb(0, 0, 0);
	--color-text: rgba(255, 255, 255);

	color: var(--color-text);
}

body {
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	background-color: var(--color-bg-0);
}

section {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.inspect {
	border: red solid 1px;
}
