@import 'https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&family=Geist:wght@100..900&display=swap';
@import 'tailwindcss';
@import './layout/_containers.css';
@import './base/_colors.css';
@import './base/_typography.css';

:root {
  color: var(--color-text);
  font-family: Geist, sans-serif;
  font-weight: 200;
  letter-spacing: 0.34%;
}

body {
  background-color: var(--color-bg);
  -webkit-font-smoothing: antialiased;
  -moz-osx-smoothing: grayscale;
  text-rendering: optimizelegibility;
}

.inspect {
  border: var(--color-debug) solid 1px;
}
