:root {
  --color-black: #000;
  --color-white: #fff;
  --color-debug: red;
  --color-accent-blue: #d8d8d8;
  --color-accent-cyan: #fff;
  --color-primary: #080807;
  --color-bg: var(--color-primary);
  --color-text: var(--color-white);
  --color-text-muted: #888;
  --color-text-inv: var(--color-black);
  --logo-invert: 1;
  --color-overlay-02: rgb(255 255 255 / 2%);
  --color-overlay-05: rgb(255 255 255 / 5%);
  --color-overlay-10: rgb(255 255 255 / 10%);
  --color-overlay-15: rgb(255 255 255 / 12%);
  --color-overlay-20: rgb(255 255 255 / 20%);
  --color-overlay-40: rgb(255 255 255 / 40%);
  --color-overlay-60: rgb(255 255 255 / 60%);
}

@media (prefers-color-scheme: light) {
  :root:not([data-theme='dark']) {
    --color-primary: #fff;
    --color-bg: #f5f5f5;
    --color-text: #080807;
    --color-text-muted: #737373;
    --color-text-inv: var(--color-white);
    --logo-invert: 0;
    --color-overlay-02: rgb(0 0 0 / 2%);
    --color-overlay-05: rgb(0 0 0 / 5%);
    --color-overlay-10: rgb(0 0 0 / 10%);
    --color-overlay-15: rgb(0 0 0 / 20%);
    --color-overlay-20: rgb(0 0 0 / 30%);
    --color-overlay-40: rgb(0 0 0 / 40%);
    --color-overlay-60: rgb(0 0 0 / 60%);
  }
}

:root[data-theme='light'] {
  --color-accent-blue: #676767;
  --color-accent-cyan: #080807;
  --color-primary: #f5f5f5;
  --color-bg: #f5f5f5;
  --color-text: #080807;
  --color-text-muted: #737373;
  --color-text-inv: var(--color-white);
  --logo-invert: 0;
  --color-overlay-02: rgb(0 0 0 / 2%);
  --color-overlay-05: rgb(0 0 0 / 5%);
  --color-overlay-10: rgb(0 0 0 / 10%);
  --color-overlay-15: rgb(0 0 0 / 20%);
  --color-overlay-20: rgb(0 0 0 / 30%);
  --color-overlay-40: rgb(0 0 0 / 40%);
  --color-overlay-60: rgb(0 0 0 / 60%);
}
