@font-face {
  font-display: swap;
  font-family: Advine-Pixel;
  font-style: normal;
  font-weight: normal;
  src: url('../../lib/assets/fonts/Advine-Pixel.otf') format('opentype');
}

.font--mono-label {
  font-family: 'Geist Mono', monospace;
  font-size: 0.8rem;
  font-weight: 400;
  letter-spacing: 0.34%;
  line-height: 12px;
}

.font--mono-meta {
  font-family: 'Geist Mono', monospace;
  font-size: 0.8rem;
  font-weight: 400;
  letter-spacing: 0.34%;
}

.font--mono-footer {
  font-family: 'Geist Mono', monospace;
  font-size: 0.7rem;
  font-weight: 400;
  letter-spacing: 0.34%;
}

.font--mono-link {
  font-family: 'Geist Mono', monospace;
  font-size: 0.84rem;
  font-weight: 400;
  letter-spacing: 0.34%;
  line-height: 16px;
}

.font--hero-title {
  font-family: 'Geist Pixel', sans-serif;
  font-size: 1.6rem;
  letter-spacing: 0.34%;
  line-height: 25px;
}

.font--hero-accent {
  font-family: Advine-Pixel, sans-serif;
  font-size: 2.6rem;
  font-weight: normal !important;
  letter-spacing: 4%;
  line-height: 26px;
}

.font--mono-tag-strong {
  font-family: 'Geist Mono', monospace;
  font-size: 0.7rem;
  font-weight: 400;
  letter-spacing: 0.05em;
}

.font--mono-tag-regular {
  font-family: 'Geist Mono', monospace;
  font-size: 0.7rem;
  font-weight: 400;
  letter-spacing: 0.034em;
}

.font--project-name {
  font-family: Geist, sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: 0.34%;
}
