@font-face {
  font-display: swap;
  font-family: 'GeistPixel Square';
  font-style: normal;
  font-weight: normal;
  src: url('../../lib/assets/fonts/GeistPixel-Square.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'GeistPixel Line';
  font-style: normal;
  font-weight: normal;
  src: url('../../lib/assets/fonts/GeistPixel-Line.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: Advine-Pixel;
  font-style: normal;
  font-weight: normal;
  src: url('../../lib/assets/fonts/Advine-Pixel.otf') format('opentype');
}
